.base {
    padding: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 100px;
    }

.cont {
    margin-left: 150px;
}
    
.base:hover{
    background-color:#EA1D2C;
    } 